{% extends "base.html" %}




{% block content %}

<section class="text-gray-300 bg-gray-900 body-font">
  <div class="container px-5 mx-auto flex flex-wrap">
    <div class="flex w-full mt-20 flex-wrap py-40">

      <a class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base text-2xl">Fondé en 1986, Tubax Echafaudages SA a acquis au fil des années un savoir-faire exemplaire et figure aujourd'hui 
      parmi les leaders dans le domaine des échafaudages. Du simple échafaudage de façades aux structures les plus complexes, notre gamme de prestations satisfera les demandes les plus
       exigeantes. Opérant uniquement avec du matériel moderne et conforme aux dernières directives, nous installons des échafaudages qui offrent un confort de travail très apprécié 
       par leurs utilisateurs.</a>
    </div>
    <div class="flex flex-wrap md:-m-2 -m-1">
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="static/image/0.jpg">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="static/image/36.jpg">
        </div>
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block" src="static/image/37.jpg">
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block" src="static/image/2.jpg">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="static/image/39.jpg">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="static/image/38.jpg">
        </div>
      </div>
    </div>
        <div class="flex w-full mb-20 flex-wrap mt-40">

      <a class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base text-2xl">Nous avons décidé pour le confort de notre personnel, de construire une halle de stockage à Rossens. Nous sommes
       une des rares entreprise à travailler avec un camion grue afin d’éviter à notre personnel des chargements manuels sur les chantiers.</a>
    </div>
  </div>
</section>


<section class="text-gray-300 bg-gray-900 body-font">
  <div class="container px-5 mx-auto flex flex-wrap">
    <div class="flex w-full mt-20 flex-wrap py-40">

      <a class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base text-2xl">Fondé en 1986, Tubax Echafaudages SA a acquis au fil des années un savoir-faire exemplaire et figure aujourd'hui 
      parmi les leaders dans le domaine des échafaudages. Du simple échafaudage de façades aux structures les plus complexes, notre gamme de prestations satisfera les demandes les plus
       exigeantes. Opérant uniquement avec du matériel moderne et conforme aux dernières directives, nous installons des échafaudages qui offrent un confort de travail très apprécié 
       par leurs utilisateurs.</a>
    </div>
  </div>
</section>
    

{% endblock content %}
