<footer class="text-gray-600 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <div>
          <img alt="gallery" class="w-auto object-cover h-16 object-center block" src="static/image/logo1.png">
      </div>

    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400">
      <p class="mr-5 text-gray-300 hover:text-gray-100">TUBAX SA</p>
      <p class="mr-5 text-gray-300 hover:text-gray-100">Chemin de Combernesse 2</p>
      <p class="mr-5 text-gray-300 hover:text-gray-100">1728 Rossens</p>
      <p class="mr-5 text-gray-300 hover:text-gray-100">info@tubax.ch</p>
    </nav>
   
  </div>
</footer>