

<header id="main_navbar" class="text-gray-600 bg-gray-900 body-font fixed w-full">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">

      <div>
          <img alt="gallery" class="w-auto object-cover h-16 object-center block" src="static/image/logo1.png">
      </div>


    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-40 flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 text-gray-300 hover:text-gray-100" href="/">ACCEUIL</a>
      <a class="mr-5 text-gray-300 hover:text-gray-100" href="/#prestation">PRESTATIONS</a>
      <a class="mr-5 text-gray-300 hover:text-gray-100" href="/#contact">CONTACT</a>
      <a class="mr-5 text-gray-300 hover:text-gray-100" href="/galerie">GALERIE</a>
      <a class="mr-5 text-gray-300 hover:text-gray-100" href="/entreprise">L'ENTREPRISE</a>
      
    </nav>
    
    <div>
        <p class="mr-5 text-gray-300">Nos offres sont 100% gratuite et ne demande aucun engagement de votre part.</p>
        <p class="mr-5 text-gray-500">Samuel Favre : 079 153 37 06</p>
        <p class="mr-5 text-gray-500">Joël Schmid &nbsp;&nbsp;: 079 844 22 82</p>
    </div>
   
  </div>
</header>